world/
world_nether/
world_the_end/
urban/
sigen/
logs/
ops.json
usercache.json
server.properties
/plugins/dynmap/markers.yml*
/plugins/dynmap/web/standalone/
/plugins/dynmap/world.pending
/plugins/dynmap/ids-by-ip.txt
/plugins/SetHomes/homes.yml
/plugins/MCBans/
/plugins/WorldEdit/sessions/
/plugins/ImageOnMap/
/plugins/HolographicDisplays/database.yml
